
html, body {
    height: 100%;
}

ul {
    list-style: none;
}
.pick-list:hover {
    color: green;
    cursor: pointer;
}

#logo-text {
    color: #BEBFC0;
    font-size: 2em;
    margin: 0 2em;
    padding-bottom: .6em;
}

.nav-bar {
    display: flex;
    position: absolute;
    width: 100vw;
    justify-content: space-between;
    background-color: rgb(0, 21, 74);
    z-index: 2;
    padding: 1em;
    padding-left: 0;
    margin-left: -3em;
}

.whole-logo {
    margin-top: 1em;
    display: flex;
    align-self: center;
}

.form-header {
    text-align: center;
    font-size: 1.7em;
}

.form > input {
    text-align: right;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.border {
    text-align: center;
    border: 2px solid rgb(0, 21, 74);
    margin: 1em;
    min-width: 30vw;
}

.pick-list {
    text-align: left;
}

.greeting {
    text-align: center;
    padding-top: 8em;
}

.stock-row {
    display: flex;
}

.foot-img {
    width: 100%;
    max-height: 100vh;
}

.overview-div {
    text-align: left;
}

.stock-list {
    display: flex;
    justify-content: space-around;
}

#footer {
    position: absolute;
    text-align: left;
    background:  rgb(0, 21, 74);
    color: white;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 1em;    
}

.stack {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 7em;
}

.home-bg {
    background: rgb(223, 237, 254);
    height: 100%;
    width: 100vw; 
}

.leads {
    padding-top: 4em;
    font-weight: bold;
    font-size: 2em;
    line-height: .5em;
}

.lead-lines {
    display: block;
    align-self: center;
    font-style: bold;
    font-size: .7em;
    color:  rgb(0, 0, 0);
    line-height: 1.3em;
    text-align: center;
}

.createUser-div {
    margin-top: 1em;
    margin-bottom: 3em;
    padding: 1.7em;
    line-height: 1.2em;
    border: 5px solid rgb(240, 225, 17);
    background: rgb(243, 245, 237);
}

.site-layout-content {
    margin-left: .5em;
    margin-right: .5em;
}

.links {
    display: none;
}

@media (min-width: 768px) {
    #mobile-dropdown {
        display: none;
    }
    .nav-bar {
        display: flex;
        position: absolute;
        width: 100vw;
        justify-content: space-between;
        background-color: rgb(0, 21, 74);
        z-index: 2;
        padding: 1.7em;
    }

    .links {
        display: flex;
        font-size: 1.5em;
        margin-right: 1.5em;
        justify-content: center;
    }
    
    .link {
        padding: 0 1em;
        color: #BEBFC0;
        align-self: center;
        font-weight: bold;
    }
    
    .dropdown-items {
        display: flex;
        flex-direction: column;
        padding: 1em;
        min-width: 12em;
    }
    
    .drop-item {
        padding: .4em;
    }
    
    .drop-item:hover {
        color: rgb(0, 21, 74);
    }
    
    #dropdown {
        background-color: rgb(0, 21, 74);
        border: none;
    }
    
    #gear {
        caret-color: #BEBFC0;}    

    .leads {
        padding-top: 4em;
        font-weight: bold;
        font-size: 2em;
        line-height: .5em;
    }

    .lead-lines {
        /* display: block;
        align-self: center;
        font-style: bold; */
        font-size: 1em;
        /* color:  rgb(0, 0, 0); */
        line-height: 2em;
        /* text-align: center; */
    }

    .createUser-div {
        margin-top: 1em;
        margin-bottom: 3em;
        padding: 1.7em;
        line-height: 1.2em;
    }
}

@media (min-width: 992px) {
    
    .home-bg {
        background-image: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
        width: 100vw;
        padding-top: 4em;
        margin: 0 auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 980px;
        overflow: hidden;
    }

    .createUser-div {
        margin-top: 9em;
        margin-bottom: 3em;
        /* padding: 1.7em; */
        line-height: 1.2em;
        /* border: 5px solid rgb(240, 225, 17); */
        /* background: rgb(243, 245, 237); */
    }

    .leads {
        padding-top: 3em;
        font-size: 3em;
        /* line-height: .5em; */
        display: none;
    }
}

@media (min-width: 1200px) {

    .createUser-div {
        position: absolute;
        padding: 2em;
        left: 5%;
        top: 10%;
    }

    .leads {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: .3em;
        padding-top: 5em;
        z-index: 1;
        right: 5%;
        top: 0%;
        font-weight: bold;
        font-size: 2.6em;
        height: 100vh;
        background-image: linear-gradient(180deg,rgba(38, 40, 36, 0.5), rgba(234, 237, 225, 0));
    }
    
}