
@import '~antd/dist/antd.css';

/* body {
    background-color: red;
} */
ul {
    list-style: none;
}
.pick-list:hover {
    color: green;
    cursor: pointer;
}

.home-bg {
    width: 100vw;
    margin: 0 auto;
    position: relative;
}

.createUser-div {
    position: absolute;
    padding: 2em;
    border: 3px solid rgb(240, 225, 17);
    left: 5%;
    top: 45%;
    z-index: 1;
    background: rgb(243, 245, 237)
}

#logo {
    width: 60px;
    margin-bottom: 1em;
}

#logo-text {
    color: #BEBFC0;
    font-size: 2em;
    margin: 0 2em;
    /* display: flex; */
    /* align-self: center; */

}

.nav-container {
    display: flex;
    justify-content: space-between;
    
    background-color: rgb(0, 21, 74)
}

.links {
    display: flex;
    font-size: 1.5em;
    /* margin-top: 2.4em; */
    margin-right: 1.5em;
}

.link {
    padding: 0 1em;
    color: #BEBFC0;
    align-self: center;
    font-weight: bold;

}

.whole-logo {
    margin-top: 1em;
    display: flex;
    align-self: center;
}

.leads {
    display: flex;
    position: absolute;
    padding: .3em;
    z-index: 1;
    right: 5%;
    top: 20%;
    font-weight: bold;
    font-size: 2.6em;
    /* background-color: rgba(234, 237, 225, .5); */
    height: 100vh;
    background-image: linear-gradient(0deg,rgba(234, 237, 225, .5), rgba(234, 237, 225, 0));
}

#lead-lines {
    align-self: center;
    font-style: bold;
    
}

.form-header {
    text-align: center;
    font-size: 1.7em;
}

.form > input {
    text-align: right;
}